h1 {
    font-family: 'Teko', serif;
    font-size: 72px;
    text-align: center;
    color: white;
}

button {
    display: block;
	transition-duration: 0.4s;
    margin-left: auto;
    margin-right: auto;
	border: 2px solid #FFFFFF;
	width: 8%;
	height: 50px;
	font-family: 'Teko', serif;
	font-size: 30px;
}

button:hover {
	background-color: #2D862D;
	color: #000000;
}

#alien  {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
}

body {
    background-image: url('images/stars.gif');
    background-size: cover;

    height: 100vh;
    padding: 0;
    margin: 0;
}