h1 {
    font-family: 'Teko', serif;
    font-size: 72px;
    text-align: center;
    color: white;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#alien  {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url('images/stars.gif');
    background-size: cover;

    height: 100vh;
    padding: 0;
    margin: 0;
}